@import "./motivation.scss";
@import "./sharing.scss";
@import "./home.scss";
@import "./leaning.scss";
@import "./doctor.scss";
@import "./gallery.scss";
@import "./login.scss";
@import "./profile.scss";
@import "./create.scss";

.btn-save {
    font-size: 2rem;
    background-color: #56B889;
    border-radius: 12px;
    color: #ffffff;
    border: unset;
    padding: 0.5rem 1rem;
}
.f-gradient{
	text-transform: uppercase;
	background: linear-gradient(to right, #26BEB4 0%, #5694CD 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    width: 80%;
}