@import "./motivation.scss";
@import "./sharing.scss";
@import "./home.scss";
@import "./leaning.scss";
@import "./doctor.scss";
@import "./gallery.scss";
@import "./login.scss";
@import "./profile.scss";
@import "./create.scss";

.btn-save,
.btn-kss {
    font-size: 2rem;
    background-color: #56b889;
    border-radius: 10px;
    color: #ffffff;
    border: unset;
    padding: 0.5rem 1rem;
}
.btn-kss:hover {
    background-color: #00e25b !important;
}
.f-gradient {
    text-transform: uppercase;
    background: linear-gradient(to right, #26beb4 0%, #5694cd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    width: 80%;
}
.frequently{
    margin-top: 15rem;
}