.create-page {
    .tab-btn {
        background: radial-gradient(100% 16167.71% at 0% 100%, #33ff9d 0%, #26beb4 100%);
        .save,.share {
            border-radius: 20px;
            padding: 0.75rem 1.5rem;
        }
    }
}
