.login-page {
    .title {
        .card-title {
            font-size: 5rem;
            font-weight: bold;
        }

        .card-subtitle {
            font-size: 4rem;
        }

        .input-group-text {
            background-color: #ffffff00;
            border: 0px solid #ced4da;
            font-size: 24px;
        }

        .input-group {
            border: 2px solid #4d4b4b;
            box-sizing: border-box;
            border-radius: 100px;
        }

        .form-control {
            border: unset;
            margin-right: 1rem;
            font-size: 24px;
            margin: 0;
            background-color: #fff0;
        }

        .form-control:focus {
            color: #495057;
            background-color: #fff0;
            border-color: #ffffff00;
            outline: 0;
            box-shadow: unset;
        }

        .set-seaech {
            border: unset;
        }
    }
}

.box-login {
    .form-control {
        font-size: 1.75rem;
    }

    .btn {
        height: 55px;
    }

    .btn-singin,
    .btn-repass {
        border-radius: 8px;
        width: 100%;
        padding: 0.5em 0;
        text-align: center;
        font-size: 18px;
        background: #2d9cdb;
        color: #fff;
        border: unset;
    }

    .btn-singin:hover {
        background-color: #5a95f5 !important;
    }

    .btn-repass {
        color: #2d9cdb;
        background: #ffffff;
        font-size: 18px;
        text-align: center;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgb(117, 117, 117);
    }

    .btn-google,
    .btn-facebook {
        width: 100%;
        // border-radius: 5rem;
        color: #ffffff;
        font-weight: bold;
        padding: 1rem;
        border: unset;
    }

    .btn-google {
        background-color: #ea4335;
    }

    .btn-facebook {
        background-color: #3b5998;
    }

    .card-footer {
        padding: .75rem 1.25rem;
        background-color: rgba(0, 0, 0, 0);
        border-top: 0px solid rgba(0, 0, 0, 0);
    }

    .close {
        font-size: 2.5rem;
        color: rgb(255, 0, 0);
    }
}

.box-login {
    .modal-dialog {

        align-self: center;
        .modal-header {
            border: unset;
        }

        .modal-content {
            padding: 24px;
            position: relative;
            background-color: #fff;
            background-clip: padding-box;
            border: 0;
            border-radius: 4px;
            -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
            box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
            pointer-events: auto;
        }
    }
}

@media (min-width: 576px) {
    .box-login {
        .modal-dialog {
            align-self: center;
            max-width: 500px !important;
            margin: 3rem auto !important;

            img {
                height: auto;
                object-fit: contain;
                margin: auto;
                border-radius: 0%;
            }
        }
    }
}