.about-team .about-team-bg {
  background: radial-gradient(
    98.18% 853.99% at 0% 100%,
    #8be0b7 0%,
    #32c7bd 100%
  );
}
.about-team-circle {
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
}
