.about-team .about-team-bg {
  background: rgb(75, 131, 195);
  background: radial-gradient(98.18% 853.99% at 0% 100%, #8BE0B7 0%, #5694CD 100%);
}
.about-team-circle {
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
  object-fit: cover;
}
