.about-provide .header,
.about-innovation .header {
  color: #ffffff;
  background: rgb(75, 131, 195);
  background: radial-gradient(98.18% 853.99% at 0% 100%, #35b176 0%, #2072be 100%);
}
.about-provide .detail,
.about-provide h1,
.about-provide h2,
.about-provide h3,
.about-provide h4,
.about-provide h5,
.about-innovation .detail,
.about-innovation h1,
.about-innovation h2,
.about-innovation h3,
.about-innovation h4,
.about-innovation h5 {
  font-weight: bold;
}
.about-provide-circle {
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
}
.about-provide .title,
.about-innovation .title {
  font-size: 4rem;
}
.about-provide .subtitle,
.about-innovation .subtitle {
  font-size: 2rem;
}
.about-provide .provide-icon {
  height: 100%;
}
.about-provide .img-provide {
  width: 100%;
  object-fit: cover;
}
.about-provide .detail .text.media-body {
  text-align: left;
  margin-left: 1rem;
}
.about-provide .detail .text.media-body p {
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: normal;
  /* font-size: 1.25rem; */
}
.about-provide .Innovation {
  margin-top: 5rem;
}
.about-provide .provide-title h1 {
  color: #e7b00b;
  margin-top: 1rem;
}
.about-provide .provide-title hr {
  border-top: 3px solid #757575;
  width: 20%;
}
.about-provide .Innovation {
  position: relative;
  height: 450px;
}
.about-provide .Innovation .Innovation-img-left,
.about-provide .Innovation .Innovation-img-right {
  position: absolute;
  height: 350px;
}
.about-provide .Innovation .Innovation-img-left {
  left: 0;
}
.about-provide .Innovation .Innovation-img-right {
  right: 0;
}
.about-provide .card-img:hover {
  transform: scale(1.05);
  -webkit-filter: drop-shadow(10px 10px 15px rgb(0, 0, 0, 0.3));
  filter: drop-shadow(10px 10px 15px rgb(0, 0, 0, 0.3));
}
.about-provide .card-img {
  /* border-radius: 20px; */
  margin-bottom: 2rem;
  display: table-cell;
}
@media only screen and (max-width: 1199px) {
  .about-provide .Innovation {
    height: 350px;
  }
  .about-provide .Innovation .Innovation-img-left,
  .about-provide .Innovation .Innovation-img-right {
    height: 292px;
  }
}
@media only screen and (max-width: 991px) {
  .about-provide .Innovation {
    height: 300px;
  }
  .about-provide .Innovation .Innovation-img-left,
  .about-provide .Innovation .Innovation-img-right {
    height: 217px;
  }
}
@media only screen and (max-width: 767px) {
  .about-provide .title,
  .about-innovation .title {
    font-size: 2.75rem;
  }
  .about-provide .provide-ttile h1 {
    font-size: 1.75rem;
  }
  .about-provide .Innovation {
    height: 200px;
  }
  .about-provide .Innovation .Innovation-img-left,
  .about-provide .Innovation .Innovation-img-right {
    height: 160px;
  }
}
@media only screen and (max-width: 575px) {
  .about-provide .Innovation .Innovation-img-left,
  .about-provide .Innovation .Innovation-img-right {
    height: 170px;
  }
}
@media only screen and (max-width: 525px) {
  .about-provide .Innovation .Innovation-img-left,
  .about-provide .Innovation .Innovation-img-right {
    height: 155px;
  }
}
@media only screen and (max-width: 425px) {
  .about-provide .Innovation {
    height: 150px;
  }
  .about-provide .Innovation .Innovation-img-left,
  .about-provide .Innovation .Innovation-img-right {
    height: 122px;
  }
}
@media only screen and (max-width: 425px) {
  .about-provide .Innovation .Innovation-img-left,
  .about-provide .Innovation .Innovation-img-right {
    height: 108px;
  }
}
@media only screen and (max-width: 320px) {
  .about-provide .Innovation .Innovation-img-left,
  .about-provide .Innovation .Innovation-img-right {
    height: 91px;
  }
}
