.about-team .about-team-bg {
  background: rgb(75, 131, 195);
  background: linear-gradient(25deg, rgba(75, 131, 195, 1) 0%, rgba(46, 163, 173, 1) 50%, rgba(78, 232, 158, 1) 100%);
}
.about-team-circle {
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
}
