@import url("about.title.css");
@import url("about.subtitle.css");
@import url("about.team.css");
@import url("about.provide.css");
@import url("about.Innovation.css");
@import url("about.contact-us.css");
@import url("about.talk-with-us.css");

@media only screen and (max-width: 800px) {
  .contact-mobile {
    font-size: 1.5rem;
  }
}
a {
  color: white !important;
  text-decoration: none;
  background-color: transparent;
}
