.about-subtitle img{
  width: 10rem;
}
.about-subtitle .card-title {
  font-size: 3rem;
  font-weight: bold;
}
.about-subtitle .card-subtitle {
  font-size: 1.5rem;
}

.about-subtitle .card-img:hover {
  transform: scale(1.05);
  -webkit-filter: drop-shadow(10px 10px 15px rgb(0, 0, 0, 0.3));
  filter: drop-shadow(10px 10px 15px rgb(0, 0, 0, 0.3));
}
