
@media only screen and (max-width: 600px) {
  .home .card-title {
    font-size: 2.2rem !important;
  }
  .home .card .card-text {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .sheet-three .card-title {
    font-size: 0.6rem !important;
    transition: 1s;
    cursor: pointer;
  }
  .sharing .card .card-text {
    font-size: 0.5rem !important;
    color: #747373 !important;
  }
}

@media only screen and (max-width: 600px) {
  .mobile-padding {
    padding-top: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .sheet-one .trapezoid {
    width: 6em;
  }
}
@media only screen and (max-width: 600px) {
  .hide-short-desc {
    display: none !important ;
  }
}

@media only screen and (max-width: 600px) {
  .sheet-one .card-title {
    font-size: 2rem;
    line-height: 1;
  }
  .sheet-one .subtitle {
    font-size: 1.2rem;
    z-index: 1;
  }
}

@media only screen and (max-width: 800px) {
  .hide-frequently-img {
    display: none;
  }
  .frequently .end.list-group-item {
    width: 100%;
  }
}
