@media only screen and (max-width: 991px) {
  .home-image .img-animation img {
    width: 300px;
    height: 300px;
  }
  .home-image .img-animation:after {
    top: 130px;
    left: 130px;
  }
  .home-image .card-title {
    font-size: 3rem !important;
  }
  .home-image .card .card-text {
    font-size: 1.75rem !important;
  }
}
@media only screen and (max-width: 767px) {
  .home-image .img-animation {
    padding: 0%;
  }
}

@media only screen and (max-width: 600px) {
  .home .card-title {
    font-size: 2.2rem !important;
  }
  .home .card .card-text {
    font-size: 1.5rem !important;
  }
  .leaning-page .title .card-title {
    font-size: 5rem !important;
  }
  .sheet-three .card-title {
    font-size: 1.4rem !important;
    transition: 1s;
    cursor: pointer;
  }
  .sharing .card .card-text {
    font-size: 0.5rem !important;
    color: #747373 !important;
  }
  .mobile-padding {
    padding-top: 15px;
    margin-right: -50px;
  }
  .sheet-one .trapezoid {
    width: 12em;
  }
  .hide-short-desc {
    display: none !important ;
  }
  .sheet-one .card-title {
    font-size: 2rem;
    line-height: 1;
  }
  .sheet-one .subtitle {
    font-size: 1.2rem;
    z-index: 1;
  }
  .sharing-page .title .card-title {
    font-size: 5rem !important;
  }
  .sharing-page .title .card-subtitle {
    font-size: 3rem !important;
    padding-bottom: 10px;
  }
  .leaning-page .title .card-subtitle {
    font-size: 2rem !important;
    padding-bottom: 10px !important;
  }
  .gallery-page .title .card-title,
  .gallery-page .title-album .card-title {
    font-size: 5rem !important;
    font-weight: bold !important;
  }
  .doctor-page .title .card-title {
    font-size: 5rem !important;
    font-weight: bold !important;
  }
  .btn-home-img {
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
  .home-image .img-animation img {
    width: 250px;
    height: 250px;
  }
  .home-image .img-animation:after {
    top: 100px;
    left: 100px;
  }
  .home-image .img-animation:before {
    top: 0px;
    left: 10px;
    animation: a-one 3s linear infinite;
  }
}
@media only screen and (max-width: 325px) {
  .home-image h1.card-title {
    font-size: 2rem !important;
    font-weight: bold;
  }
}

@media only screen and (max-width: 800px) {
  .hide-frequently-img {
    display: none;
  }
  .frequently .end.list-group-item {
    width: 100%;
  }
}
