.profile-menu-bg {
  background: radial-gradient(98.63% 27033.66% at 98.63% 100%, #56b889 0%, #26beb4 100%);
  color: white;
  cursor: pointer;
}
.profile-menu-active {
  background-color: #ffffff;
  color: black;
}
.profile .font-weight-bold {
  font-size: 1.9rem;
}

.profile .subtitle-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.profile .input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search-md"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
textarea.md-textarea {
  font-size: 2.75rem;
}
